{% extends "::blog/layout.html.twig" %}


{% block body_layout %}
    {% for message in app.session.flashbag.get('succes') %}
        <p class="alert alert-success">{{message}}</p>
    {% endfor %}




    <h1>{{ article.titre}}</h1>
    <p>{{ article.contenu | raw }}</p>
    <p>{{ article.date | date('d-m-y') }}</p>
    <p>{{ 'Autheur: ' ~ article.user}}</p>


    {% if article.image %}
        <img src="{{asset('uploads/')~article.image.baseUrl}}" alt="{{article.image.alt}}" >
    {% else  %}
        <p>Pas d'image disponible</p>
    {% endif %}

    {% if (is_granted('SUPER_ADMIN') or (app.user == article.user))  %}
        <a href= '{{path("blog_suprimer",{id:article.id})}}'>
            <p>suprimer</p>
        </a>

        <a href= '{{path("blog_modifier",{id:article.id})}}'>
            <p>modifier</p>
        </a>
    {% endif  %}

    <div id="commentaire">
        {#{% for commentaire in commentaires %}#}
        {% for commentaire in article.commentaires %}
            <p>{{ commentaire.contenu ~ ' By ' ~ commentaire.user}}</p>
            <p>{{ commentaire.date | date('d-m-y') }}</p>
        {% else  %}
            <p>Pas de commentaire</p>
        {% endfor %}
    </div>

    {% for tag in article.tags %}
        <a href= '{{path("blog_tag",{id:tag.id})}}'>
            <p>{{ tag.titre}}</p>
        </a>
    {% else  %}
        <p>Pas de Tag</p>
    {% endfor %}

    {{form_start(form)}}
    {{form_widget(form)}} <img src="{{ asset('image/rolling.gif')}}" style="display:none" id="loading">
    {{form_end(form)}}

{%endblock%}
{% block javascripts %}
    <script>
        $('form[name=appbundle_commentaire]').submit(//designe le formulaire
                function (e) {
                    $('#erreur-ajax').remove();
                    e.preventDefault(); // bloquer l'utilisation du bouton ajouter
                    $('#loading').show(); // fait apparaitre legif when click on ajouter
                    $('form[name=appbundle_commentaire] button').addClass('disabled').prop('disabled', true);
                    //above permet d'interdire de recliquer sur soumettre qund on soummet le formulaire

                    $.ajax(
                            {
                                url: '{{path('ajax_commentaire_blog')}}',
                                method: 'POST',
                                dataType: 'json',
                                data: {
                                    id:{{article.id}} ,
                                    contenu: $('form[name=appbundle_commentaire] textarea').val()

                                },
                                error: function () {
                                    alert('error');
                                },
                                success: function (data) {
                                    // Ce que l'on va recuperer de notre methode
                                    $('#loading').hide();
                                    $('form[name = appbundle_commentaire] button')
                                            .removeClass('disabled')
                                            .prop('disabled', false)
                                    if (data.success) {
                                        $('#commentaire').prepend('<p>'
                                                + data.commentaire.date
                                                + '<br>' + data.commentaire.contenu + ' By '
                                                + data.commentaire.user + '</p>')
                                                ;
                                    } else {
                                        $('form[name = appbundle_commentaire] button').after('<p id="erreur_ajax" class="alert alert-danger">Pb: Et merde! </p>');
                                    }

                                }
                            }
                    );
                }
        );
        // $ est un alias pour JQuery
    </script>
{% endblock %}