{% extends "::blog/layout.html.twig" %}


{% block body_layout %}
    {% for message in app.session.flashbag.get('succes') %}
        <p class="alert alert-success">{{message}}</p>
    {% endfor %}


    {% for article in articles %}
        <a href= '{{path("blog_detail",{id:article.id})}}'>
            <h1>{{ article.titre}}</h1>
        </a>
        {#<p>{{ article.contenu | raw }}</p>#}
        {#<p>{{ article.extrait | raw }}</p>#}
        {{ extrait(article.contenu)}}
        {{ article.contenu | extrait }}
        <p>{{ article.date | date('d-m-y') }}</p>


        {% if article.image %}
            <img src="{{article.image.url}}" alt="{{article.image.alt}}" >
        {% else  %}
            <p>Pas d'image disponible</p>
        {% endif %}

    {% endfor %}


{%endblock%}




{% block title %}
    {{parent()}} - Index
{%endblock%}
