{% extends "::blog/layout.html.twig" %}

{% block body_layout %}

    <h4>{{ knp_pagination_sortable(pagination, 'Release', ['a.date']) }}</h4>
    {% for article in pagination %}
        <a href= '{{path("blog_detail",{id:article.id})}}'>
            <h1>{{ article.titre}}</h1>
        </a>
        <p>{{ article.contenu | raw }}</p>
        <p>{{ article.date | date('d-m-y') }}</p>



        {% if article.image %}
            <img src="{{article.image.url}}" alt="{{article.image.alt}}" >
        {% else  %}
            <p>Pas d'image disponible</p>
        {% endif %}
    {% endfor %}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>





{%endblock%}